* {
  font-family: "Poppins", sans-serif;
}

.navbar {
  background-color: rgb(16, 29, 54);
  /* background-color: rgb(0, 48, 73); */
}

.principal-nav a {
  color: white;
  font-size: 1.4rem;
}

.principal-nav a:hover {
  color: #d80032 !important;
}

.banner {
  background-image: linear-gradient(
      rgba(16, 29, 54, 0.486),
      rgba(0, 0, 0, 0.158)
    ),
    url(../img/banner_purpura.png);
  min-height: 90vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  object-fit: cover;
  color: white;
  font-size: 4rem;
  text-align: center;
}

.banner h1 {
  margin-top: 10rem;
  font-size: clamp(3rem, 5vw, 5rem) !important;
}

.banner h2 {
  display: inline-block !important;
  position: relative;
  font-size: clamp(15px, 1.5vw, 1.5rem) !important;
}

.banner h2::before {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background-color: #d80032;
  font-weight: 900;
  top: 0.6em;
}

.banner h2::before {
  left: -35px;
}

.banner p {
  font-style: italic;
  color: #d80032;
}

#label-page h2 {
  display: inline-block;
  position: relative;
  text-align: center;
  width: 50vw;
  background-color: #edf2f4;
  padding: 1rem 0;
  color: #000;
  font-size: clamp(0.5rem, 5vw, 2rem);
  top: -2rem;
  left: 25vw;
  right: 25vw;
}

/* .nav-item {
  margin-left: 0.5rem;
  font-size: large;
} */

/* .nav-link {
  color: #d62828;
} */

.active {
  color: #d80032 !important;
}

/* MAIN */

/* SECCCION CHECKBOX-FILTRO-BUSQUEDA */

.container-search {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

.categories {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}

.formulario input[type="checkbox"] {
  display: none;
}

.formulario label {
  color: #8d99ae;
  padding: 5px 15px 5px 51px;
  display: inline-block;
  position: relative;
  font-size: 1em;
  border-radius: 3px;
  cursor: pointer;
}

.formulario label:hover {
  background: rgba(0, 116, 217, 0.1);
}

.formulario label::before {
  content: "";
  width: 17px;
  height: 17px;
  display: inline-block;
  background: none;
  border: 2px solid #8d99ae;
  position: absolute;
  left: 17px;
  top: 9px;
}

.formulario input[type="checkbox"]:checked + label {
  padding: 5px 15px;
  background: #8d99ae;
  border-radius: 2px;
  color: #fff;
}

.formulario input[type="checkbox"]:checked + label::before {
  display: none;
}

/* SECCION INPUT-SEARCH */

.search-category {
  margin-top: 3rem;
  position: absolute;
  padding: 5px;
  margin-left: 0;
}

.search-category input {
  width: 0px;
  height: 40px;
  padding: 0 20px;
  font-size: 18px;
  color: #000;
  outline: none;
  border: 1px solid silver;
  border-radius: 55px;
  transition-property: width;
  transition: 1.5s ease;
}

.btn-category {
  position: absolute;
  top: 0;
  right: 0;
  background: #d80032;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  color: white;
  font-size: 20px;
  border-radius: 50%;
  cursor: pointer;
}

.search-category:hover input {
  width: 60vw;
}

/* SECCION CARDS */

.cards-section {
  margin-top: 5rem;
}

.card {
  margin-top: 1.5rem;
  width: 100vw !important;
  background-color: #edf2f4;
  border: none;
  box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.235);
}

.card img {
  height: 50% !important;
  object-fit: cover;
}

.card-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
}

.card-body h5 {
  font-weight: bolder;
  text-align: center;
  font-size: 25px;
}

.card-text {
  font-size: clamp(10px, 10vw, 15px);
}

.price-section {
  display: flex;
  justify-content: space-between !important;
  align-items: baseline !important;
  margin-top: 1.5rem;
}

.price {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 30%;
  gap: 1rem;
}

.price-section .btn {
  width: 40%;
  background-color: #d80032;
  border: none;
}

.price-section * {
  gap: 2 !important;
}

/* SECCION-FOOTER */

footer {
  background-color: #8d99ae;
}

.svg-footer {
  margin-left: 1rem;
}

/* RESPONSIVE */

@media (min-width: 510px) {
  .principal-nav {
    justify-content: flex-end !important;
  }

  .card {
    width: 90% !important;
  }

  .search-category {
    left: 2rem;
  }
}

@media (min-width: 768px) {
  #label-page h2 {
    width: 30vw;
    left: 35vw;
    right: 35vw;
  }

  .card {
    width: 47% !important;
  }

  .cards-section {
    justify-content: start !important;
    gap: 2.5rem !important;
  }
}

@media (min-width: 992px) {
  .principal-nav a {
    font-size: 1rem;
  }

  .nav-large {
    width: 25%;
  }

  .card {
    width: 30% !important;
  }
}

@media (min-width: 1024px) {
  .nav-large {
    width: 25%;
  }

  .principal-nav {
    justify-content: flex-end;
  }

  .principal-nav ul {
    width: fit-content;
    justify-content: space-between;
    gap: 1rem !important;
  }

  .principal-nav a {
    font-size: 1rem;
  }

  .categories {
    display: flex !important;
    flex-direction: row;
  }

  .search-category:hover input {
    width: 50vw;
  }

  .cards-section {
    justify-content: start !important;
    gap: 2.8rem !important;
  }

  .card {
    width: 30% !important;
    min-height: 20% !important;
  }

  .card img {
    height: 40% !important;
  }

  .card-body {
    padding: 3%;
    height: 10% !important;
  }
}

@media (min-width: 1200px) {
  .search-category:hover input {
    width: 40vw;
  }

  .cards-section {
    gap: 3.2rem !important;
  }

  .card {
    width: 22% !important;
    min-height: 20% !important;
  }
}

@media (min-width: 1600px) {
  .search-category:hover input {
    width: 30vw;
  }
}
